<div class="row">
    <div class="columns large-12">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
</div>
<div class="row">
    <div class="columns large-11">&nbsp;</div>
    <div class="columns large-1"><%= link_to "Back", :back, :class => 'button small radius' %></div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="field columns large-4">
      <%= f.label :identi %><br />
      <%= f.number_field :identi, autofocus: true %>
    </div>
    <div class="field columns large-4">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field columns large-4">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </div>
  </div>
  <div class="row">
    <div class="field columns large-6">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>
    <div class="field columns large-6">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="row">
    <div class="field columns large-6">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="field columns large-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
  <div class="actions ">
    <%= f.submit "Update", :class => 'button radius success' %>
  </div>
<% end %>
<div class="row">
  <div class="columns large-4"><h3>Cancel my account</h3></div>
  <div class="columns large-1"><p>Unhappy?</p></div>
  <div class="columns large-7">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'button radius small alert' %>
  </div>
</div>