<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <% if current_user.type == 'Patient' %>
        <th>Doctor</th>
      <% else %>
        <th>Patient</th>
      <% end %>
      <th>Description</th>
      <th>State</th>
      <th>Date</th>
      <th>Hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <% if current_user.type == 'Patient' %>
          <td><%= appointment.doctor_id %></td>
        <% else %>
          <td><%= appointment.patient_id %></td>
        <% end %>
        <td><%= appointment.description %></td>
        <td><%= appointment.state %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.hour %></td>
        <td><%= link_to 'Show', appointment, :class => 'button info'  %></td>
        <% if current_user.type == 'Patient' %>
          <td><%= link_to 'Edit', edit_appointment_path(appointment), :class => 'button'  %></td>
          <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert'  %></td>
        <% else %>
          <td><%= link_to 'Accept', accept_path(appointment), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button success'  %></td>
          <td><%= link_to 'Reject', reject_path(appointment), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert'  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.type == 'Patient' %>
  <%= link_to 'New Appointment', new_appointment_path, class: 'button radius' %>
<% end %>
