<p id="notice"><%= notice %></p>


<% if current_user.type == 'Patient' %>
  <p>
    <strong>Doctor:</strong>
    <%= @appointment.doctor.name + ' ' + @appointment.doctor.lastname %>
  </p>
  
<% else %>

  <p>
    <strong>Patient:</strong>
    <%= @appointment.patient.name + ' ' + @appointment.doctor.lastname %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @appointment.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @appointment.hour %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
